*{
    margin: 0;
    padding: 0;
}
.container{

}

.top {
    display: flex;
    width: 100vw;
    height: 14vh;
    background-color: red;
    margin-bottom: 5px;
    justify-content: space-between;
}

.cont-ame1{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 10px;

}

.cont-ame2{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 10px;
}

.item-azul{
    background-color: blue;
    width: 31vw;
    height: 20vh;

}

.item-amarelo{
    background-color: yellow;
    width: 31vw;
    height: 20vh;

}

.item-verde{
    background-color: green;
    width: 31vw;
    height: 20vh;

}

.cont-preto{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    margin: 10px;
}

.item-preto7{
    background-color: black;
    width: 50vw;
    height: 20vh;

}

.item-preto8{
    background-color: black;
    width: 50vw;
    height: 20vh;

}

.cont-limpo{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    margin: 10px;
}

.item-limpo{
    display: flex;
    width: 31vw;
    height: 20vh;
    border: 1px dotted;
}